@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    color: #141414;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}

.opensans{
    font-family: "Open Sans", sans-serif;
}

.opensans-italic{
    font-family: "Open Sans", sans-serif;
    font-style: italic;
}


.syne{
    font-family: "Syne", sans-serif;
    font-style: normal;
}

.herosection{
    background-image: url("./assets/herobg.png");
    background-position: top ;
    background-repeat: repeat;
    background-size: contain;
}

.tour-image{
    background-image: url("./assets/tourbg.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}


.tochange{
    font-weight: 700 !important;
}

.about p, .about h2 {
    width: 85%;
}

.modal{
    background-color: rgba(0, 0, 0, 0.7);
}